<!--PEN CONTENT-->
<nav class="main-nav fixed">
  <div class="container py-2 mx-auto px-1">
    <div class="main-nav__inner">
      <!--nav open button-->
      <button
        class="main-nav__toggler toggler-open pop relative"
        type="button"
        title="Open Menu"
      >
        <div class="toggler-open__bar"></div>
        <div class="toggler-open__bar"></div>
        <div class="toggler-open__bar"></div>
      </button>
      <!-- logo block-->
      <a
        class="logo center flex mt-2"
        routerLink="/home"
        title="Home"
        tooltip="Project Linkage Logo"
      >
        <img alt="Project Linkage Logo" [src]="LogoIcon | safeUrl" />
      </a>
      <!--nav cart button-->
      <a
        routerLink="/checkout"
        class="cart pop w-fit relative"
        draggable="false"
        type="button"
        title="Checkout"
      >
        <img alt="checkout" [src]="CartIcon | safeUrl" />
        <span class="absolute inset-0 text-center pr-2 primary-font">{{
          productService.cart.totalQuantity > 99
            ? "99+"
            : productService.cart.totalQuantity
        }}</span>
      </a>
      <!--nav expandable area-->
      <div class="main-nav__expandable">
        <div class="main-nav__expandable-inner">
          <div class="container">
            <div class="main-nav__expandable-content">
              <!--nav close btn-->
              <button
                class="main-nav__toggler toggler-close pop"
                type="button"
                title="Close Menu"
              ></button>
              <!--nav links list-->
              <ul class="main-nav__list">
                <!-- Loop pages here -->
                <li
                  *ngFor="let page of pages"
                  class="main-nav__item"
                  [attr.data-add-text]="page.title"
                >
                  <a
                    class="main-nav__link"
                    draggable="false"
                    [routerLink]="page.routerLink"
                    [attr.title]="page.title"
                  >
                    <span class="main-nav__link-title">{{ page.title }}</span>
                    <span class="main-nav__link-descr">{{
                      page.description
                    }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="nav-blur"></div>
  <!-- TODO: Remove this on next version -->
  <div *ngIf="showStoreNav" id="nav-fixed-container" class="fixed mx-auto">
    <div id="nav-fixed" class="flex flex-row flex-wrap">
      <div
        class="nav-items grow"
        (click)="goToProduct(product.name)"
        [ngClass]="{ active: this.storeActiveSection == product.name }"
        *ngFor="
          let product of this.productService.products;
          let isFirst = first
        "
      >
        <h3>{{ product.name }}</h3>
      </div>
    </div>
  </div>
</nav>
