.content {
  position: relative;
  background-color: black;
  background: url("../../../assets/img/storeBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.nav_arrows > img {
  height: 50px;
  width: auto;
}
#nav-fixed-container {
  left: 0;
  width: 100%;
  max-width: 100vw;
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #nav-fixed-container {
    background: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

#nav {
  @apply my-3 border-solid border-y-2 border-white;
  > .nav-items {
    @apply px-5 py-3 text-center;
  }
}

.content .product {
  margin-top: 0;
  img {
    outline: 2px solid white;
    outline-offset: -2px;
    transition: all 0.1s linear;
    background: black;
  }
  &:hover {
    img {
      outline-width: 8px;
      outline-offset: -4px;
    }
    p {
      @apply mt-2;
    }
  }
}

#product-view {
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 5px 3px 30px black;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  .background-image {
    filter: blur(10px);
    z-index: 3;
    pointer-events: none;
  }
  @supports (
    (-webkit-backdrop-filter: none) or (backdrop-filter: none) or
      (not (filter: none))
  ) {
    .background-image {
      display: none;
    }
    #card-container {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

  .card {
    pointer-events: auto;
    background: #0a0a0a;
    width: 85vw;
    max-width: calc(min(550px, 55vh) * (9 / 10));
    top: 7.5vh;
    margin-bottom: 50px;
    z-index: 4;
    .preview-toggler {
      pointer-events: none;
      transition: all 0.2s;

      .btn {
        height: 50px;
        margin: auto 0;
        pointer-events: auto;
      }
      .preview-button {
        height: 50px;
        width: 50px;
        background-color: rgba(#0a0a0a, 1);
        opacity: 1;
        pointer-events: auto;
        @apply border-2 border-white border-solid my-4;
        img {
          width: 100%;
          height: auto;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}
#preview-description {
  // p {
  //   font-family: sans-serif;
  // }
  transition: all 0.2s;
  .details-container {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .description {
    max-height: 200px;
  }
}
