p {
	font-family: sans-serif;
	font-weight: bold;
}
a {
	text-decoration: underline rgba(red, .5) solid 2px;

	transition: all .3s linear;
	&:hover {
		text-decoration: underline rgba(red, .75) solid 2px;
	}
}
