

p {
  font-family: sans-serif;
  font-weight: bold;
}
a {
  text-decoration: underline rgba(red, 0.5) solid 2px;
  transition: all 0.3s linear;
  &:hover {
    text-decoration: underline rgba(red, 0.75) solid 2px;
  }
}
