.content {
  position: relative;
  background-color: black;
  background: url("../../../assets/img/storeBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

p {
  font-family: sans-serif;
  font-weight: bold;
}
a {
  text-decoration: underline rgba(red, 0.5) solid 2px;
  transition: all 0.3s linear;
  &:hover {
    text-decoration: underline rgba(red, 0.75) solid 2px;
  }
}
