<div class="container">
  <!-- Page Content goes here -->
  <div class="row">
    <div class="col s12 center-align">
      <h1>Privacy Policy</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div id="introduction"
           class="section">
        <p class="flow-text">1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis facilisi interdum tellus
          quis in amet, in
          integer non. In
          adipiscing faucibus ut vel tellus facilisis. Sit massa sit ultricies aliquet morbi in egestas ultrices. Platea
          quis cras
          at elementum tellus pellentesque tincidunt vivamus tristique. Ultricies pellentesque gravida. </p>
      </div>

      <div id="structure"
           class="section">
        <p class="flow-text">2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis facilisi interdum tellus
          quis in amet, in
          integer non. In
          adipiscing faucibus ut vel tellus facilisis. Sit massa sit ultricies aliquet morbi in egestas ultrices. Platea
          quis cras
          at elementum tellus pellentesque tincidunt vivamus tristique. Ultricies pellentesque gravida. </p>
      </div>

      <div id="initialization"
           class="section">
        <p class="flow-text">3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis facilisi interdum tellus
          quis in amet, in
          integer non. In
          adipiscing faucibus ut vel tellus facilisis. Sit massa sit ultricies aliquet morbi in egestas ultrices. Platea
          quis cras
          at elementum tellus pellentesque tincidunt vivamus tristique. Ultricies pellentesque gravida. </p>
      </div>
    </div>
  </div>
</div>
