<div class="content">
  <div class="nav-pad black-filter min-h-screen px-4">
    <div class="max-w-xl text-center pb-4 mx-auto">
      <h1 class="mt-2 mb-4 uppercase text-center">Linkage Privacy Policy</h1>
      <p>
        This Privacy Policy describes how your personal information is collected, used, and shared when you
        visit or make a
        purchase from (the “Site”).
      </p>
      <br>
      <h2 class="mt-2 mb-4 uppercase text-center">Personal information We Collect</h2>
      <p>
        When you visit the Site, we automatically collect certain information about your device, including
        information about
        your web browser, IP address, time zone, and some of the cookies that are installed on your device.
        Additionally, as you
        browse the Site, we collect information about the individual web pages or products that you view, what
        websites or
        search terms referred you to the Site, and information about how you interact with the Site. We refer to
        this
        automatically-collected information as “Device Information.”
        <br>
        <br>
        We collect Device Information using the following technologies:
        “Cookies” are data files that are placed on your device or computer and often include an anonymous
        unique identifier.
        For more information about cookies, and how to disable cookies,
        visit <a href="http://www.allaboutcookies.org"
           rel="noopener noreferrer"
           target="_blank">http://www.allaboutcookies.org</a>.
        <br>
        <br>
        “Log files” track actions occurring on the Site, and collect data including your IP address, browser
        type, Internet
        service provider, referring/exit pages, and date/time stamps.
        <br>
        <br>
        “Web beacons,” “tags,” and “pixels” are electronic files used to record information about how you browse
        the Site.
        <br>
        <br>
        Additionally when you make a purchase or attempt to make a purchase through the Site, we collect certain
        information
        from you, including your name, billing address, shipping address, payment information (including credit
        card numbers,
        email address, and phone number. We refer to this information as “Order Information.”
        <br>
        <br>
        When we talk about “Personal Information” in this Privacy Policy, we are talking about the order
        information.
      </p>
    </div>
  </div>
</div>
