<div class="content">
  <div class="nav-pad black-filter min-h-screen px-4">
    <div class="text-center pb-4 mx-auto">
      <h1 class="mt-2 mb-4 uppercase text-center">Sizing & Fit</h1>
      <div class="sizing-fit flex-wrap flex justify-around content-start gap-4">
        <div class="grow max-w-full" *ngFor="let sizingChart of sizingCharts">
          <h2 class="mt-5 uppercase text-center">
            {{ sizingChart.name | titlecase }}
          </h2>
          <div class="mt-2 table-container">
            <ngx-table
              [configuration]="configuration"
              [data]="sizingChart.sizes"
              [columns]="sizingChart.columns"
            >
            </ngx-table>
            <div class="materials-used bg-white text-black">
              <h5 class="p-2">
                {{ sizingChart.materials }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
