<div class="content">
    <div class="h-screen flex flex-col px-4 mx-auto">
        <div class="mt-4 flex-auto grid place-content-center">
            <div class="img-container">
                <img src="../../../assets/img/circle.png"
                     alt="circle image"
                     class="" />
            </div>
            <a routerLink="/store"
               draggable="false"
               class="btn">Latest Drop
            </a>
        </div>
        <div class="shrink text-center nav_arrows mb-4">
            <img class="inline p-2"
                 src="../../../assets/icons/down_arrow.svg"
                 alt="next page">
        </div>
    </div>
    <div class="h-screen px-4 mx-auto">

    </div>
</div>