.home-content {
	background-color: black;
	// overflow-y: hidden;
}

.nav_arrows > img {
	width: auto;
	height: 50px;
}

.img-container {
	@apply mx-auto;
	img {
		width: 200px;
		height: auto;
	}
}
.description {
	h5, p {
		max-width: 1300px;
		max-height: 150px;
		min-height: 7.5vh;
		overflow-y: auto;
	}
}
.gallery {
	img {
		width: auto;

// transition: all 0.1s linear;
		max-height: 20vh;

		background: #0a0a0a;
		outline: 2px solid white;
		outline-offset: -2px;
	}
}
