.buttons-container {
	height: calc(100vh - 200px);
	.link-button {
		width: 80vw;
		height: 80px;
		max-width: 350px;

		color: #0a0a0a;

		background: white;

		opacity: 1;
		@apply my-4 p-4 uppercase relative flex justify-center items-center;
		img, svg > image, svg {
			width: auto;
			height: 45px;
			@apply absolute left-0;
		}
		img, svg, span {
			@apply ml-6;
		}
		&:hover {
			filter: invert(100%);
		}
	}
}
