<div class="content">
    <div class="nav-pad black-filter min-h-screen px-4">
        <div class="max-w-xl text-center pb-4 mx-auto">
            <h1 class="mt-2 mb-4 uppercase text-center">Shipping</h1>
            <p>
                The processing of an order will take 1 to 2 working days.
                After this, the order will be sent to the destination provided.
                A domestic order should take 2 to 3 working days to deliver.
                An international order should take 4 to 8 working days to deliver.
            </p>
            <br>
            <h1 class="mt-2 mb-4 uppercase text-center">Returns</h1>
            <p>
                Our policy lasts 14 days. If 14 days have gone by since your purchase, unfortunately we can’t offer you
                a refund or
                exchange.
                To be eligible for a return, your item must be unused and in the same condition that you received it. It
                must also be in
                the original packaging.
                <br>
                Several types of goods are exempt from being returned. Perishable goods such as food, flowers,
                newspapers or magazines
                cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous
                materials, or
                flammable liquids or gases.
                <br>
                <br>
                To complete your return, we require a receipt or proof of purchase.
                <br>
                There are certain situations where only partial refunds are granted:
                <br>
                Any item not in its original condition, is damaged or missing parts for reasons not due to our error.
                Once your return
                is received and inspected, we will send you an email to notify you that we have received your returned
                item. We will
                also notify you of the approval or rejection of your refund.
                <br>
                <br>
                If you are approved, then your refund will be processed, and a credit will automatically be applied to
                your credit card
                or original method of payment, within a certain amount of days. If you haven’t received a refund yet,
                first check your
                bank account again. Then contact your credit card company, it may take some time before your refund is
                officially
                posted. Next contact your bank. There is often some processing time before a refund is posted.
                <br>
                <br>
                If you’ve done all of this and you still have not received your refund yet, please contact us at
                linkage.info.inc@gmail.com. Only regular priced items may be refunded, unfortunately sale items cannot
                be refunded.
                <br>
                <br>
                Exchanges (if applicable): We only replace items if they are defective or damaged. If you need to
                exchange it for the
                same item, send us an email at linkage.info.inc@gmail.com.
                <br>
                <br>
                You will be responsible for paying for your own shipping costs for returning your item. Shipping costs
                are
                non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
                Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
            </p>
        </div>
    </div>
</div>