<div class="content">
  <div class="nav-pad black-filter min-h-screen px-4">
    <div class="max-w-xl text-center pb-4 mx-auto">
      <h1 class="mt-2 mb-4 uppercase text-center">About Us</h1>
      <p>
        The idea of Linkage is about combining elements of Anime and Fashion with Photography and Videography.
        This
        was
        labelled
        as a project that will one day become well known among Irish anime fans as well as fashionable people in
        Ireland
        and
        abroad.
      </p>
      <br>
      <p>
        This concept drove a team in 2020 to create Project_Linkage. The goal of this brand is to make clothing
        that
        is
        unique,
        stylish and comfortable for people who like anime, fashion or any creative element about the brand. We
        are
        grateful to
        everyone who has supported us so far because we strive to continuously grow in terms of fashion sense
        and
        creativity
        with the brand.
      </p>
      <br>
      <p>
        The name Linkage was made by combining the Naruto titles Hokage, Raikage, Kazekage, Mizukage and
        Tsuchikage.
        All
        those
        titles have the word "Kage" in them so to link the titles into one Linkage was made. The pronunciations
        are
        either
        "Lin-kidge" or "Lin-Ka-ge".
      </p>
    </div>
  </div>
</div>
