/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: Impact;
  src: url("./assets/fonts/Impact.ttf");
}

body,
:host {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal,
    "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
  font-size: 1.2em;
  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em !important;
  -webkit-user-select: none;
  user-select: none !important;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
p {
  @apply text-base;
}
blockquote {
  @apply text-base;
  font-weight: 400;
  line-height: 30px;
}
pre {
  @apply text-sm;
  font-weight: 400;
  line-height: 18.5714px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.nav-pad {
  padding-top: 80px;
}

.btn {
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #ffffff;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 24px;
  color: white;
  text-align: center;
  transition: all 0.2s linear;
  -webkit-user-select: none;
  user-select: none;
  @apply m-4 px-10 border-solid border-2 border-white uppercase;
  &:hover {
    background: rgba(255, 255, 255, 1);
    color: black;
  }
  &:focus {
    background: rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.75);
  }
}

.border-3 {
  border-width: 3px;
}
.border-y-3 {
  border-top-width: 3px;
  border-bottom-width: 3px;
}
.border-x-3 {
  border-left-width: 3px;
  border-right-width: 3px;
}
.border-t-3 {
  border-top-width: 3px;
}
.border-b-3 {
  border-bottom-width: 3px;
}
.border-l-3 {
  border-left-width: 3px;
}
.border-r-3 {
  border-right-width: 3px;
}
