/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@splidejs/splide/dist/css/themes/splide-default.min.css";
@import "~ngx-easy-table/style.scss";

@font-face {
  font-family: ImpactLT;
  src: url("./assets/fonts/Impact/impact.ttf") format("truetype");
}

@font-face {
  font-family: Vancouver;
  src: url("./assets/fonts/Vancouver/vancouver.ttf") format("truetype");
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
.logo-container {
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .brand-logo {
    padding: 20px;
    margin: 0 auto;
    width: 100vw;
    max-width: 50vh;
    animation: pulse 1s infinite;
    background-color: white;
  }
}

html,
body,
:host {
  overflow-x: hidden !important;
  font-family: Vancouver, ImpactLT, Impact, Haettenschweiler,
    "Franklin Gothic Bold", Charcoal, "Helvetica Inserat",
    "Bitstream Vera Sans Bold", "Arial Black", sans-serif;

  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em !important;
  -webkit-user-select: none;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  background-color: #0a0a0a;
  @apply text-base;
}
.primary-font {
  font-family: ImpactLT, Impact, Haettenschweiler, "Franklin Gothic Bold",
    Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black",
    sans-serif;
}
.secondary-font {
  font-family: Vancouver, ImpactLT, Impact, Haettenschweiler,
    "Franklin Gothic Bold", Charcoal, "Helvetica Inserat",
    "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}
h1 {
  font-family: ImpactLT, Impact, Haettenschweiler, "Franklin Gothic Bold",
    Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black",
    sans-serif;
  @apply text-5xl;
}
h2 {
  font-family: ImpactLT, Impact, Haettenschweiler, "Franklin Gothic Bold",
    Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black",
    sans-serif;
  @apply text-3xl;
}
h3 {
  font-family: ImpactLT, Impact, Haettenschweiler, "Franklin Gothic Bold",
    Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black",
    sans-serif;
  @apply text-xl;
}
h4 {
  font-family: ImpactLT, Impact, Haettenschweiler, "Franklin Gothic Bold",
    Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black",
    sans-serif;
  @apply text-lg;
}
h5 {
  @apply text-lg;
}
p {
  // font-family: sans-serif;
  // font-weight: bolder;
  @apply text-base;
}
blockquote {
  @apply text-base;
  font-weight: 400;
  line-height: 30px;
}
pre {
  @apply text-sm;
  font-weight: 400;
  line-height: 18.5714px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal !important;
}
.content {
  position: relative;
  background-color: black;
  background-image: url("assets/img/mobile-store-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
@media (min-width: 768px) {
  .content {
    background-image: url("assets/img/desktop-store-bg.jpg");
  }
}

.adjust-text-size {
  font-size: 3.5vmin;
  line-height: 3.5vmin;
}
.nav-pad {
  padding-top: 80px;
}

.btn {
  font-family: ImpactLT, Impact, Haettenschweiler, "Franklin Gothic Bold",
    Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black",
    sans-serif;
  background: rgba(#0a0a0a, 0.75);
  border: 1px solid #ffffff;
  width: auto;
  max-width: 250px;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  transition: all 0.2s linear !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  @apply m-4 px-10 py-2 border-solid border-2 border-white uppercase;

  &:hover,
  &:active {
    background: rgba(255, 255, 255, 1);
    color: #0a0a0a;
    transform: scale(1.1);
    &:active {
      transform: scale(0.95);
      background: rgba(255, 255, 255, 0.75);
      border-color: rgba(255, 255, 255, 0.75);
    }
  }
  &:disabled {
    background: grey !important;
    color: white !important;
    transform: scale(1) !important;
  }
}

.pop {
  transform: scale(1);
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
  &:hover,
  &:active {
    opacity: 1;
    transform: scale(1.15);
    &:active {
      transform: scale(0.95);
    }
  }
}
.black-filter {
  background-color: rgba(0, 0, 0, 0.5);
}
.splide__slide img {
  width: 100% !important;
  height: auto !important;
}
.splide__arrows {
  .splide__arrow--prev {
    left: 0;
    @apply ml-2;
  }
  .splide__arrow--next {
    right: 0;
    @apply mr-2;
  }
  .splide__arrow {
    opacity: 1;
    svg {
      fill: white !important;
    }
  }
}
.splide__list {
  @apply justify-between;
}
.splide__slide {
  opacity: 0.3;
}

.splide__slide.is-active {
  opacity: 1;
  border: none !important;
}
table,
.ngx-table__table--normal {
  thead > tr > th {
    text-align: center;
    border-bottom: solid 2px white;
    font-weight: 400;
    @apply primary-font;
  }
  tbody > tr > td {
    text-align: center;
    border-bottom: none !important;
    @apply secondary-font;
  }
  thead > tr,
  tbody > tr {
    td:first-child {
      @apply primary-font;
    }
    & > td,
    & > th {
      color: white;
      font-size: 125%;
      // @apply pl-3;
      .ngx-icon-arrow-down::before,
      .ngx-icon-arrow-right::before,
      .ngx-icon-arrow-up::before {
        border-color: white !important;
      }
      &:first-child {
        border-right: solid 2px white;
      }
    }
  }
}

//* Custom Select - Start *//
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  @extend .secondary-font;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected,
.select-items div {
  font-family: Vancouver, ImpactLT, Impact, Haettenschweiler,
    "Franklin Gothic Bold", Arial, Helvetica, sans-serif;
  height: 100%;
  border: 2px solid white;
  background-color: #0a0a0a;
  letter-spacing: 0.75px;
  border-radius: 0;
  appearance: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  /*style the items (options), including the selected item:*/
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @apply text-xl p-2;
}
/*style the arrow inside the select element:*/
.select-selected {
  &:after {
    position: absolute;
    content: "";
    top: 45%;
    // bottom: 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    @apply right-4;
  }
  /*point the arrow upwards when the select box is open (active):*/
  &.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 25%;
  }
}

/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #0a0a0a;
  div {
    border-top-color: transparent;
    background-color: white;
    color: #0a0a0a;
  }
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.select-items > .same-as-selected {
  background-color: rgba(white, 0.9);
}
//* Custom Select - End *//

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .bg-blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
