<div class="content">
  <div class="nav-pad black-filter min-h-screen px-4">
    <div class="text-left pb-4 checkout-container">
      <h1 class="mt-2 mb-8 uppercase">Checkout</h1>

      <div class="summary my-8">
        <h2 class="uppercase">Order Summary:</h2>
        <h3 class="empty-cart"
            *ngIf="!productService.cart.items.length">Your cart is empty!</h3>
        <div class="cart-container mx-1 flex gap-4  overflow-x-auto">
          <div class="cart flex gap-2 my-2"
               *ngFor="let item of productService.cart.items; index as i">
            <div class="image-container relative shrink">
              <img [src]="item.images[0].src"
                   alt="{{item.name}}"
                   class="absolute" />
              <img [src]="item.images[0].src"
                   alt="{{item.name}}"
                   class="opacity-0" />
            </div>
            <div class="name shrink ">
              <h4>Item #{{i+1}} Name:</h4>
              <a routerLink="/store"
                 (click)="goToProduct(item)"
                 class="inline-block link"> {{item.name}} <span *ngIf="item.size !== 'R'">({{item.size }})</span></a>
              <h4>Quantity:</h4>
              <p class="inline-block"> #{{item.quantity}}</p>
              <h4>Price:</h4>
              <p class="inline-block"> {{item.price | currency: 'EUR'}}</p>
            </div>
            <div class="action-buttons shrink primary-font text-center grid grid-rows-3 divide-y flex-none">
              <button (click)="increaseItem(i)"
                      [disabled]="item.quantity >= item.stock[item.size]">
                <img alt="increase"
                     [src]="PlusIcon | safeUrl" />
              </button>
              <button (click)="decreaseItem(i)">
                <img alt="decrease"
                     [src]="MinusIcon | safeUrl" />
              </button>
              <button (click)="removeItem(i)">
                <img alt="remove"
                     [src]="TrashIcon | safeUrl" /></button>
            </div>
          </div>
        </div>
        <h3 class="subtotal mb-4">Subtotal: {{productService.cart.totalPrice | currency: 'EUR'}}</h3>
      </div>
      <div class="delivery-address ">
        <h2 class="uppercase">Customer Shipping Info:</h2>
        <form id=formId
              (ngSubmit)="storeCustomerDetails()"
              [formGroup]="productService.checkoutForm"
              class="mx-1">

          <div class="input-field mt-2">
            <span class="uppercase form-label">Name:</span>
            <input id="name"
                   class="col-span-2 capitalize"
                   type="text"
                   name="name"
                   formControlName="name"
                   placeholder="Enter name..."
                   required>
          </div>
          <div class="input-field mt-4">
            <span class="uppercase form-label">Email Address:</span>

            <input id="email"
                   type="email"
                   class="col-span-2"
                   name="email"
                   formControlName="email"
                   placeholder="Enter Email Address..."
                   email="true"
                   required>

          </div>
          <div class="input-field mt-4 addresses">
            <span class="uppercase form-label">Delivery&nbsp;Address:</span>
            <input id="address1"
                   type="text"
                   class="col-span-2"
                   name="address1"
                   formControlName="address1"
                   placeholder="Enter Delivery Address*"
                   required>
            <input id="address2"
                   type="text"
                   class="col-span-2"
                   name="address2"
                   formControlName="address2"
                   placeholder="Apartment, Unit, Suite, or Floor #">
            <input id="locality"
                   type="text"
                   class="col-span-2"
                   name="locality"
                   formControlName="locality"
                   placeholder="City*"
                   required>
            <input id="state"
                   type="text"
                   name="state"
                   formControlName="state"
                   placeholder="State/Province*"
                   required>
            <input id="postcode"
                   type="text"
                   name="postcode"
                   formControlName="postcode"
                   placeholder="Postal Code*"
                   required>
            <input id="country"
                   type="text"
                   class="col-span-2"
                   name="country"
                   formControlName="country"
                   placeholder="Country/Region*"
                   required>
            <span *ngIf="!isEU"
                  class="col-span-2 warning secondary-font">We're only shipping to countries in Europe at
              the moment!</span>
            <span *ngIf="!this.productService.cart.items.length"
                  class="col-span-2 warning secondary-font">Seems like you forgot to add items to your
              cart!</span>
          </div>
          <div class="flex flex-col items-center justify-center button-container"
               *ngIf="!detailsConfirmed">
            <button type="submit"
                    class="btn bg-blur"
                    [disabled]="!productService.checkoutForm.valid || !this.productService.cart.items.length">Confirm<span
                    *ngIf="confirmingDetails">ing</span>
              Details<span *ngIf="confirmingDetails ">...</span></button>
          </div>
        </form>
      </div>
      <div class="delivery-options my-8 "
           [hidden]="!detailsConfirmed">
        <h2 class="uppercase">Delivery Options:</h2>
        <div class="custom-select mt-2 px-1"
             [hidden]="countryCode !== 'IE'">
          <select name="deliveryOptions"
                  id="deliveryOptions0"
                  title="deliveryOptions">
            <option selected="true"
                    value="1.49">
              Ireland (Untracked) - €1.49</option>
            <option value="3.49">Ireland (Tracked) - €3.49</option>
          </select>
        </div>
        <div class="custom-select mt-2 px-1 none"
             [hidden]="countryCode === 'IE'">
          <select name="deliveryOptions"
                  id="deliveryOptions1"
                  title="deliveryOptions">
            <option selected="true"
                    value="2.49">Rest of Europe (Untracked) - €2.49</option>
            <option value="8.99">Rest of Europe (Tracked) - €8.99</option>
          </select>
        </div>

      </div>
      <div class="paypal-container p-1"
           *ngIf="detailsConfirmed">
        <ngx-paypal id="paypalButton"
                    [config]="payPalConfig"></ngx-paypal>
      </div>
    </div>
  </div>
</div>
